<div class="doc-code-block">
  @if (label()) {
    <div class="doc-code-block-header">
      <span class="doc-code-block-label">{{ label() }}</span>
      <button type="button" class="doc-code-block-copy" (click)="copy()">{{ copied() ? 'copied' : 'copy' }}</button>
    </div>
  } @else {
    <button type="button" class="doc-code-block-copy doc-code-block-copy--floating" (click)="copy()">{{ copied() ? 'copied' : 'copy' }}</button>
  }
  <pre class="doc-code-block-body"><code>@for (tok of tokens(); track $index) {<span [class]="tok.className">{{ tok.text }}</span>}</code></pre>
</div>
